<footer>
    <footer class="footer">
        <div class="container">
            <div class="container">
                <a class="fa fa-linkedin" href="https://ke.linkedin.com/in/tye-joseph-0bb158239/"></a>
                <a class="fa fa-twitter" href="https://x.com/Tyejoseph1"></a>
                <a class="fa fa-github" href="https://github.com/m-bwela"></a>
        <p>&copy; <%= new Date().getFullYear() %> Tye Joseph</p>
        <p>
            Platform powered by
            <a href="https://jikan.moe/">Jikan API</a>
        </p>
        </div>
    </footer>
</footer>

</body>
</html>